body{
    background-color: cornsilk;
    font: normal 15px arial;
}

h1{
    color: rgb(99, 131, 199);
}

button{
    padding: 20px;
    background-color: rgb(99, 131, 199);
    border: none;
    border-radius: 8px;
}
