body {
    font: normal 18px arial;
    background-color: lightgrey;
}

input {
    padding: 8px;
    border-radius: 4px;
    border: none;
    background-color: rgb(239, 125, 136);
    margin: 5px;
}

div#res {
    margin-top: 30px;
}