@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

body {
    font: normal 18px 'Dosis';
    background-color: cornsilk;
}

h1{
    color: rgb(99, 131, 199);
}

button{
    padding: 20px;
    background-color: rgb(99, 131, 199);
    border: none;
    border-radius: 8px;
}

input#inum{
    background-color: rgba(69, 102, 174, 0.411);
    border: none;
    padding: 3px;
}

input {
    background-color: rgba(69, 102, 174, 0.411);    
}