body {
    font: normal 18px arial;
}

h1 {
    color: rgb(42, 165, 163);
}

button {    
    background-color: rgb(42, 165, 163);
    padding: 20px;
    border-radius: 5px;
    border: none;
}

button:hover {
    transition: 0.3s;
    background-color: rgba(12, 148, 146, 0.718);
}

p {
    font-size: 15px;
}